* {
  margin: 0;
  padding: 0;
}

.masonry {
  list-style-type: none;
  position: relative;
}
 
img {
  width: 100%;
  height: 100%;
}

.masonry__item {
  width: 200px;
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}

.masonry__image{
  display: block;
}
